@model eSupervisor_Beta.Models.post
@{
    ViewBag.Title = "Upload new files";
    int roleID = (int)new eSupervisor_Beta.Models.eSupervisorEntities().users.Find((int)Session["userid"]).roleID; if (roleID == 3){Layout = "~/Views/Shared/_StudentLayout.cshtml";}else if (roleID == 2) {Layout = "~/Views/Shared/_TeacherLayout.cshtml";} else {Layout = "~/Views/Shared/_Layout.cshtml";}
}
<br/>
@using (Html.BeginForm("PostFile", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2" for="title">Title</label>
            <div class="col-md-10">
                <input id="title" name="title" required="true" type="text" value="" class="form-control" style="width: 100%">
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Upload_File">Choose files</label>
            <div class="col-md-10">
                <input type="file" id="file" name="file" accept=".pdf,.zip"/><br />
                <input type="file" id="file" name="file" accept=".pdf,.zip" /><br />
                <input type="file" id="file" name="file" accept=".pdf,.zip" /><br/>
                <input type="file" id="file" name="file" accept=".pdf,.zip" /><br />
                <input type="file" id="file" name="file" accept=".pdf,.zip" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}


