@model IEnumerable<eSupervisor_Beta.Models.user>
@{
    ViewBag.Title = "StudentWithoutSupervisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report: Students without Supervisor</h2>
<table>
    <tr>
        <td>Student ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
        </tr>
    }
</table>

