@model IEnumerable<eSupervisor_Beta.Hubs.messageContainer>

<ul style="list-style-type:none">
    @foreach (var item in Model)
    {
        <li style="margin-bottom:30px">
            <span style="font-weight:bold;margin-right:15px;display:flex;!important">@item.senderName</span>
            @{
        if (item.senderID == (int)Session["userid"])
        {
            <div style="background:#7dedff; padding: 10px; color: black;word-wrap:break-word;max-width:170px;">@item.content</div>
        }
        else
        {
            <div style="background:#e4e4e4; padding: 10px; color: black;word-wrap:break-word;max-width:170px;">@item.content</div>
        }
            }
        </li>
    }
</ul>
